In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# <center>Dataset completo</center>

In [2]:
df = pd.read_csv('dados_disciplinas.txt', sep=',')

df

,MATR_ALUNO,ANO,PERIODO,SITUACAO,MEDIA_FINAL,NUM_FALTAS,DISCIPLINA
0,1,2013,1,Aprovado,77,12,2
1,2,2013,1,Reprovado por Frequencia,0,32,1
2,3,2013,1,Reprovado por Frequencia,0,50,4
3,4,2013,2,Aprovado,60,2,2
4,4,2013,2,Aprovado,68,2,5
...,...,...,...,...,...,...,...
4637,827,2017,2,Reprovado,3,10,5
4638,828,2014,1,Reprovado por Frequencia,0,32,2
4639,829,2013,2,Reprovado por Frequencia,0,72,1
4640,830,2014,1,Reprovado por Frequencia,12,28,2
4641,831,2013,2,Aprovado,87,4,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4642 entries, 0 to 4641
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MATR_ALUNO   4642 non-null   int64
 1   ANO          4642 non-null   int64
 2   PERIODO      4642 non-null   int64
 3   SITUACAO     4642 non-null   object
 4   MEDIA_FINAL  4642 non-null   int64
 5   NUM_FALTAS   4642 non-null   int64
 6   DISCIPLINA   4642 non-null   int64
dtypes: int64(6), object(1)
memory usage: 254.0+ KB

In [4]:
print(df['ANO'].value_counts())

ANO
2016    997
2014    987
2013    957
2017    939
2015    762
Name: count, dtype: int64

In [5]:
print(df['PERIODO'].value_counts())

PERIODO
1    2365
2    2277
Name: count, dtype: int64

In [6]:
print(df['SITUACAO'].value_counts())

SITUACAO
Aprovado                    2077
Reprovado                   1117
Reprovado por Frequencia     921
Dispensado                   456
Equivalencia curricular       37
Trancamento parcial           34
Name: count, dtype: int64

In [7]:
print(df['DISCIPLINA'].value_counts())

DISCIPLINA
2    1209
5     982
4     914
3     778
1     759
Name: count, dtype: int64

# <center>Situação dos alunos de 2013</center>

In [8]:
print("\n\n##################################")
print("## Análise para o ano de 2013 ##")
print("##################################")

df_2013 = df[df['ANO'] == 2013]

print("\n--- Situação dos alunos de 2013 ---")
situacao_2013 = df_2013['SITUACAO'].value_counts()
print(situacao_2013)

for periodo in [1, 2]:
    print(f"\n--- 1º Análise do {periodo}º Período de 2013 ---")
    df_2013_periodo = df_2013[df_2013['PERIODO'] == periodo]
    
    for disciplina in sorted(df_2013_periodo['DISCIPLINA'].unique()):
        df_2013_p_d = df_2013_periodo[df_2013_periodo['DISCIPLINA'] == disciplina]
        
        df_calculo = df_2013_p_d[~df_2013_p_d['SITUACAO'].isin(['Dispensado', 'Equivalencia curricular', 'Transferencia Externa'])]
        
        if not df_calculo.empty:
            media = df_calculo['MEDIA_FINAL'].mean()
            std = df_calculo['MEDIA_FINAL'].std()
            print(f"Disciplina {disciplina}: Média Final = {media:.2f}, Desvio Padrão = {std:.2f}")

##################################
## Análise para o ano de 2013 ##
##################################

--- Situação dos alunos de 2013 ---
SITUACAO
Aprovado                    372
Reprovado por Frequencia    259
Reprovado                   212
Dispensado                   96
Trancamento parcial          11
Equivalencia curricular       7
Name: count, dtype: int64

--- 1º Análise do 1º Período de 2013 ---
Disciplina 1: Média Final = 74.00, Desvio Padrão = 33.94
Disciplina 2: Média Final = 35.64, Desvio Padrão = 29.62
Disciplina 3: Média Final = 64.19, Desvio Padrão = 26.64
Disciplina 4: Média Final = 33.26, Desvio Padrão = 31.66
Disciplina 5: Média Final = 48.22, Desvio Padrão = 26.30

--- 1º Análise do 2º Período de 2013 ---
Disciplina 1: Média Final = 61.73, Desvio Padrão = 38.40
Disciplina 2: Média Final = 32.79, Desvio Padrão = 27.60
Disciplina 3: Média Final = 52.88, Desvio Padrão = 32.97
Disciplina 4: Média Final = 33.65, Desvio Padrão = 31.49
Disciplina 5: Média Final = 27.42, Desvio Padrão = 30.82

# <center>Situação dos alunos de 2014</center>

In [9]:
print("\n\n##################################")
print("## Análise para o ano de 2014 ##")
print("##################################")

df_2014 = df[df['ANO'] == 2014]

print("\n--- Situação dos alunos de 2014 ---")
situacao_2014 = df_2014['SITUACAO'].value_counts()
print(situacao_2014)

for periodo in [1, 2]:
    print(f"\n--- 1º Análise do {periodo}º Período de 2014 ---")
    df_2014_periodo = df_2014[df_2014['PERIODO'] == periodo]
    
    for disciplina in sorted(df_2014_periodo['DISCIPLINA'].unique()):
        df_2014_p_d = df_2014_periodo[df_2014_periodo['DISCIPLINA'] == disciplina]
        
        df_calculo = df_2014_p_d[~df_2014_p_d['SITUACAO'].isin(['Dispensado', 'Equivalencia curricular', 'Transferencia Externa'])]
        
        if not df_calculo.empty:
            media = df_calculo['MEDIA_FINAL'].mean()
            std = df_calculo['MEDIA_FINAL'].std()
            print(f"Disciplina {disciplina}: Média Final = {media:.2f}, Desvio Padrão = {std:.2f}")

##################################
## Análise para o ano de 2014 ##
##################################

--- Situação dos alunos de 2014 ---
SITUACAO
Aprovado                    412
Reprovado                   273
Reprovado por Frequencia    203
Dispensado                   96
Equivalencia curricular       2
Trancamento parcial           1
Name: count, dtype: int64

--- 1º Análise do 1º Período de 2014 ---
Disciplina 1: Média Final = 69.74, Desvio Padrão = 28.96
Disciplina 2: Média Final = 39.12, Desvio Padrão = 33.29
Disciplina 3: Média Final = 56.77, Desvio Padrão = 29.57
Disciplina 4: Média Final = 44.42, Desvio Padrão = 34.21
Disciplina 5: Média Final = 33.01, Desvio Padrão = 32.15

--- 1º Análise do 2º Período de 2014 ---
Disciplina 1: Média Final = 72.13, Desvio Padrão = 23.61
Disciplina 2: Média Final = 30.57, Desvio Padrão = 30.72
Disciplina 3: Média Final = 61.15, Desvio Padrão = 20.21
Disciplina 4: Média Final = 46.89, Desvio Padrão = 33.03
Disciplina 5: Média Final = 35.68, Desvio Padrão = 28.83

# <center>Situação dos alunos de 2015</center>

In [10]:
print("\n\n##################################")
print("## Análise para o ano de 2015 ##")
print("##################################")

df_2015 = df[df['ANO'] == 2015]

print("\n--- Situação dos alunos de 2015 ---")
situacao_2015 = df_2015['SITUACAO'].value_counts()
print(situacao_2015)

for periodo in [1, 2]:
    print(f"\n--- 1º Análise do {periodo}º Período de 2015 ---")
    df_2015_periodo = df_2015[df_2015['PERIODO'] == periodo]
    
    for disciplina in sorted(df_2015_periodo['DISCIPLINA'].unique()):
        df_2015_p_d = df_2015_periodo[df_2015_periodo['DISCIPLINA'] == disciplina]
        
        df_calculo = df_2015_p_d[~df_2015_p_d['SITUACAO'].isin(['Dispensado', 'Equivalencia curricular', 'Transferencia Externa'])]
        
        if not df_calculo.empty:
            media = df_calculo['MEDIA_FINAL'].mean()
            std = df_calculo['MEDIA_FINAL'].std()
            print(f"Disciplina {disciplina}: Média Final = {media:.2f}, Desvio Padrão = {std:.2f}")

##################################
## Análise para o ano de 2015 ##
##################################

--- Situação dos alunos de 2015 ---
SITUACAO
Aprovado                    407
Reprovado por Frequencia    133
Reprovado                   131
Dispensado                   78
Equivalencia curricular      10
Trancamento parcial           3
Name: count, dtype: int64

--- 1º Análise do 1º Período de 2015 ---
Disciplina 1: Média Final = 73.85, Desvio Padrão = 31.19
Disciplina 2: Média Final = 39.74, Desvio Padrão = 33.44
Disciplina 3: Média Final = 64.73, Desvio Padrão = 32.00
Disciplina 4: Média Final = 60.38, Desvio Padrão = 33.87
Disciplina 5: Média Final = 47.95, Desvio Padrão = 28.52

--- 1º Análise do 2º Período de 2015 ---
Disciplina 1: Média Final = 53.33, Desvio Padrão = 27.22
Disciplina 2: Média Final = 47.42, Desvio Padrão = 24.53
Disciplina 3: Média Final = 66.60, Desvio Padrão = 31.49
Disciplina 4: Média Final = 39.94, Desvio Padrão = 28.73
Disciplina 5: Média Final = 46.03, Desvio Padrão = 27.96

# <center>Situação dos alunos de 2016</center>

In [11]:
print("\n\n##################################")
print("## Análise para o ano de 2016 ##")
print("##################################")

df_2016 = df[df['ANO'] == 2016]

print("\n--- Situação dos alunos de 2016 ---")
situacao_2016 = df_2016['SITUACAO'].value_counts()
print(situacao_2016)

for periodo in [1, 2]:
    print(f"\n--- 1º Análise do {periodo}º Período de 2016 ---")
    df_2016_periodo = df_2016[df_2016['PERIODO'] == periodo]
    
    for disciplina in sorted(df_2016_periodo['DISCIPLINA'].unique()):
        df_2016_p_d = df_2016_periodo[df_2016_periodo['DISCIPLINA'] == disciplina]
        
        df_calculo = df_2016_p_d[~df_2016_p_d['SITUACAO'].isin(['Dispensado', 'Equivalencia curricular', 'Transferencia Externa'])]
        
        if not df_calculo.empty:
            media = df_calculo['MEDIA_FINAL'].mean()
            std = df_calculo['MEDIA_FINAL'].std()
            print(f"Disciplina {disciplina}: Média Final = {media:.2f}, Desvio Padrão = {std:.2f}")

##################################
## Análise para o ano de 2016 ##
##################################

--- Situação dos alunos de 2016 ---
SITUACAO
Aprovado                    436
Reprovado                   226
Reprovado por Frequencia    195
Dispensado                  127
Equivalencia curricular      11
Trancamento parcial           2
Name: count, dtype: int64

--- 1º Análise do 1º Período de 2016 ---
Disciplina 1: Média Final = 51.81, Desvio Padrão = 24.59
Disciplina 2: Média Final = 35.51, Desvio Padrão = 29.17
Disciplina 3: Média Final = 53.09, Desvio Padrão = 29.96
Disciplina 4: Média Final = 45.16, Desvio Padrão = 33.24
Disciplina 5: Média Final = 46.29, Desvio Padrão = 27.95

--- 1º Análise do 2º Período de 2016 ---
Disciplina 1: Média Final = 74.51, Desvio Padrão = 33.34
Disciplina 2: Média Final = 38.57, Desvio Padrão = 33.21
Disciplina 3: Média Final = 56.21, Desvio Padrão = 28.74
Disciplina 4: Média Final = 41.93, Desvio Padrão = 26.48
Disciplina 5: Média Final = 35.66, Desvio Padrão = 29.91

# <center>Situação dos alunos de 2017</center>

In [12]:
print("\n\n##################################")
print("## Análise para o ano de 2017 ##")
print("##################################")

df_2017 = df[df['ANO'] == 2017]

print("\n--- Situação dos alunos de 2017 ---")
situacao_2017 = df_2017['SITUACAO'].value_counts()
print(situacao_2017)

for periodo in [1, 2]:
    print(f"\n--- 1º Análise do {periodo}º Período de 2017 ---")
    df_2017_periodo = df_2017[df_2017['PERIODO'] == periodo]
    
    for disciplina in sorted(df_2017_periodo['DISCIPLINA'].unique()):
        df_2017_p_d = df_2017_periodo[df_2017_periodo['DISCIPLINA'] == disciplina]
        
        df_calculo = df_2017_p_d[~df_2017_p_d['SITUACAO'].isin(['Dispensado', 'Equivalencia curricular', 'Transferencia Externa'])]
        
        if not df_calculo.empty:
            media = df_calculo['MEDIA_FINAL'].mean()
            std = df_calculo['MEDIA_FINAL'].std()
            print(f"Disciplina {disciplina}: Média Final = {media:.2f}, Desvio Padrão = {std:.2f}")

##################################
## Análise para o ano de 2017 ##
##################################

--- Situação dos alunos de 2017 ---
SITUACAO
Aprovado                    450
Reprovado                   275
Reprovado por Frequencia    131
Dispensado                   59
Trancamento parcial          17
Equivalencia curricular       7
Name: count, dtype: int64

--- 1º Análise do 1º Período de 2017 ---
Disciplina 1: Média Final = 59.32, Desvio Padrão = 27.03
Disciplina 2: Média Final = 48.76, Desvio Padrão = 31.55
Disciplina 3: Média Final = 57.36, Desvio Padrão = 29.36
Disciplina 4: Média Final = 41.20, Desvio Padrão = 32.86
Disciplina 5: Média Final = 42.39, Desvio Padrão = 30.02

--- 1º Análise do 2º Período de 2017 ---
Disciplina 1: Média Final = 51.17, Desvio Padrão = 24.85
Disciplina 2: Média Final = 40.42, Desvio Padrão = 33.35
Disciplina 3: Média Final = 55.64, Desvio Padrão = 21.27
Disciplina 4: Média Final = 41.22, Desvio Padrão = 24.21
Disciplina 5: Média Final = 25.68, Desvio Padrão = 26.50